<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a  href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contact-us">Contact Us</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/success" method="POST">
            <div class="form-control">
                <label for="title">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="title">Email:</label>
                <input type="email" name="email" id="email">
            </div>

            <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>